html {
	scroll-behavior: smooth;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";

	overflow-x: hidden;
	font-style: normal;
	letter-spacing: 0.5px;
	font-display: optional;
	background-color: #F4F2EE;
}



.prevent-select {
	-webkit-user-select: none;
	/* Safari */
	-ms-user-select: none;
	/* IE 10 and IE 11 */
	user-select: none;
	/* Standard syntax */
}

a,
a:hover,
a:focus,
i,
input,
button,
input:focus,
.transition {
	text-decoration: none;
	outline: none;
	transition-delay: 0s;
	transition-duration: 0.4s;
	transition-property: all;
	transition-timing-function: ease;
	box-shadow: none;
}

a {
	color: #090909
}

iframe {
	border: 0;
	outline: none;
}

::-moz-selection {
	background: #090909;
	text-shadow: none;
	color: #FFF
}

::selection {
	background: #090909;
	text-shadow: none;
	color: #FFF
}

img {
	max-width: 100%;
	border: none;
	outline: none;
	height: auto;
}

input,
textarea {
	border-radius: 0;
	resize: none;
}

ul {
	padding: 0;
	margin: 0;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
	background-color: transparent;
	background-image: none;
	color: #090909;
}

/* Typography */


svg,
img {
	max-width: 100%;
	height: auto;
}

/*-----------------------------------------------------------------
  1. >>> Headr Style
----------------------------------------------------------------*/


.ds-header {
	position: fixed;
	top: 0;
	width: 100%;
	height: 70px;
	z-index: 5;
	padding: 30px;
	transition-delay: 0s;
	transition-duration: 0.3s;
	transition-property: all;
	transition-timing-function: ease;
}

.ds-header.ds-fixed-header {
	padding: 20px;
	box-shadow: 0px 0px 10px #373737;
	background-color: #ffffffb6;
}

.ds-header-inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.ds-header-inner .bot {
	color: #090909;
	padding: 0.3em 1em;
	font-size: 14px;
	color: #FFF;
	letter-spacing: 2px;
	color: white;
	font-weight: 500;
	background-color: #544f83;
	border: 1px solid #000000;
	border-radius: 8px;
}

.ds-header-inner a:hover {
	background-color: #4e4882;
	color: #FFF;
	box-shadow: 0px 0px 7px #090909;
}

.ds-header-inner a:active {
	top: 4px;
	box-shadow: #c0392b 0px 3px 2px, #090909 0px 3px 5px;
}

.ds-logo {
	text-transform: uppercase;
	font-size: 18px;
	letter-spacing: 1px;
	color: #090909;
	display: flex;
	align-items: center;
	text-decoration: bold;
}

.ds-logo span {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	border: 1px black;
	border-radius: 4px;
	font-size: 22px;
	font-weight: 600;
	text-align: center;
	margin-right: 12px;
}

.ds-logo:hover {
	color: #090909;
}

.ds-social {
	list-style: none;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.ds-social li {
	margin-left: 10px;
}

.ds-social li:first-child {
	margin-left: 0;
}

.ds-social li a {
	border-radius: 100%;
	color: #FFF;
	width: 36px;
	height: 36px;
	background-color: #090909;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 25px;
	border: 1px solid #fff;
}

.ds-social li .link {
	border-radius: 100%;
	color: #FFF;
	width: 36px;
	height: 36px;
	background-color: rgb(107, 148, 214);
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 25px;
	border: 1px solid black;

}

.ds-social li .insta {
	border-radius: 100%;
	color: #FFF;
	width: 36px;
	height: 36px;
	background-color: rgb(237, 104, 104);
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 25px;
	border: 1px solid black;

}

.ds-social li a:hover {
	background-color: #090909;
	color: #FFF;
}

/*-----------------------------------------------------------------
  2. >>> Banner Style
----------------------------------------------------------------*/

.ds-banner {
	padding-top: 20px;
	padding-bottom: 40px;
}

.my {
	border-radius: 10px;
	border: 2px solid #a3a3a3;
	
padding: 3px;	
	width: auto;
}

figure {
	padding: 38px 0px 0px 100px;
}

figcaption {
	text-align: center;
	color: #fff;
	font-style: italic;
	background-color: #090909;
}

.ds-banner section {
	padding: 9%;
}

small {
	font-size: 25px;
}

.ds-banner section h1 span {
	display: block;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 18px;
	padding-bottom: 10px;
}

.ds-banner section h1 {
	font-weight: 500;
	font-size: 30px;
	line-height: 50px;
	color: #000;
}

.ds-numbervalulist {
	list-style: none;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	margin-top: 40px;
}

.ds-numbervalulist li {
	margin-right: 60px;
}

.ds-numbervalulist li:last-child {
	margin-right: 0;
}

.ds-numbervalulist strong {
	display: block;
	color: #F26464;
	font-size: 36px;
	font-weight: 800;
}

.ds-numbervalulist span {
	font-size: 16px;
	letter-spacing: 1px;
}

/*-----------------------------------------------------------------
  3. >>> About Style
----------------------------------------------------------------*/

.gif {
	height: 300px;
	padding: 2px;
	border-radius: 10px;
	border: #a3a3a3 3px solid;
	filter: contrast(1.15);
}

.ds-section-img {
	padding-top: 60px;
}

.ds-about-section {
	padding-top: 60px;
	}

.ds-about-section section {
	border-radius: 12px;
	padding: 9px 15px 2px 15px;
	color: #373737;
	letter-spacing: 0.5px;
	line-height: 35px;
	background-color: #ffffff;
	border: 1.5px solid #cecece;
}

.ds-heading {
	display: inline-block;
	font-weight: 700;
	color: #090909;
	text-transform: capitalize;
	letter-spacing: 1px;
	font-size: 18px;
	border-bottom: 4px solid #5161a1;
	padding-bottom: 6px;
	margin-bottom: 16px;
}

.ds-about-section p {
	color: #303030;
	font-size: 17px;
	font-weight: 400;
	justify-content: center;
}

.ds-button {
	color: #FFF;
	font-size: 15px;
	font-weight: 600;
	letter-spacing: 2px;
	color: white;
	background-color: #544f83;
	padding: 15px;
	border: 2px solid #2d2d2d;
	border-radius: 10px;
}

.ds-arrow-button i {
	display: inline-block;
	vertical-align: middle;
}

/*-----------------------------------------------------------------
 >>> EDUCATION 
---------------------------------------------------------------*/
.ds-edu-section {
	padding-top: 0px;
}
.ds-edu-section section {
	border-radius: 12px;
	padding: 14px;
	color: #373737;
	font-weight: 500;
	background-color: #fafafa;
	border:1.5px solid #cecece; 	
	margin: 10px;	
}

.ds-edu-section p {
	color: #303030;
	justify-content: center;
}

.sait {
	width: 100px;
	height: auto;
	border-radius: 14px;
	border: 1px solid #000000;
}

.ds-edu-section .ds-curt {
	color: green;
	font-size: 14px;
	font-weight: 700;
}

.ds-edu-section .ds-cllg {
	color: #373737;
	font-weight: 600;
	font-size: 18px;

}

.ds-edu-section .ds-clglink {
	font-size: 15px;
	font-weight: 500;
	margin-bottom: 5px;
	/*color: #af1a1a;*/
	text-decoration: uppercase;
}

.ds-edu-section .ds-clglink a {
	color: #af1a1a;
	font-weight: 600;
}

.ds-edu-section p {
	font-size: 13px;
	line-height: 24px;
	font-weight: 300;
	color: #373737;
}

/*-----------------------------------------------------------------
  4. >>> Skills Style
----------------------------------------------------------------*/

.ds-skills-section {
	padding-bottom: 60px;
}

.ds-skills-list {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-top: 11px;
}

.ds-skills-list li {
	display: inline-block;
	color: #090909;
	font-size: 16px;
	padding: 12px;
	border-radius: 10px;
	margin-right: 14px;
	margin-bottom: 18px;
	font-weight: 700;
	background-color: #ffffff;
	border: solid 1.5px #cecece;

}

/*-----------------------------------------------------------------
  5. >>> Experience Style
----------------------------------------------------------------*/

.ds-experience-section {
	padding-bottom: 20px;

}

.ds-experience-list section {
	padding: 15px;
	border-radius: 10px;
	background-color: #fafafa;
	border:1px solid #000000;
}

.ds-experience-list {
	padding-top: 5px;
}

.ds-officename {
	font-size: 15px;
	font-weight: 500;
	margin-bottom: 5px;
	color: #F26464;
	text-decoration: uppercase;
}

.ds-experience-list span {
	display: block;
}

span.ds-year {
	color: green;
	font-size: 14px;
	font-weight: 700;
	padding-bottom: 10px;
}

span.ds-department {
	color: #373737;
	font-weight: 700;
	font-size: 23px;
	padding-bottom: 10px;
}

.ds-experience-list p {
	font-size: 13px;
	line-height: 24px;
	font-weight: 300;
	color: #373737;
}

.ds-experience-list ol {
	list-style: none;
	padding: 0;
	margin: 0;
	padding: 10px;
}

.ds-experience-list ol li {
	font-size: 16px;
	line-height: 24px;
	font-weight: 300;
	padding-left: 18px;
	position: relative;
	margin-bottom: 20px;
}

.ds-experience-list ol li:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0px;
	border-radius: 100%;
	width: 8px;
	height: 8px;
	background-color: #373737;
}

.ds-experience-section summary {
	color: #FFF;
	font-size: 17px;
	font-weight: 600;
	letter-spacing: 1px;
	color: white;
	padding: 0.3em 1em;
	background-color: #544f83;
	width: 100px;
	border: 1.5px solid #cecece;
	border-radius: 7px;
}

.ds-experience-section summary:hover {
	background-color: #4e4882;
	color: #FFF;
	box-shadow: 0px 0px 7px #090909;
}

/*-----------------------------------------------------------------
  6. >>> Work Style
----------------------------------------------------------------

.ds-work-section {
	padding-bottom: 80px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 26);
}

.ds-work-list {
	padding-left: 70px;
	padding-top: 40px;
	padding-right: 70px;
	background-color: #F6F8FA;
	margin-bottom: 40px;
}

.ds-work-list section {
	padding-top: 20px;
	padding-right: 120px;
}

.ds-work-tilte {
	color: #090909;
	font-size: 30px;
	line-height: 36px;
	font-weight: 600;
	margin-bottom: 30px;
}

.ds-work-list p {
	font-weight: 300;
	font-size: 18px;
	line-height: 30px;
}

.ds-work-list .ds-button {
	margin-top: 20px;
}

.ds-work-det-hed {
	padding-top: 42px;
	padding-bottom: 80px;
}

.ds-work-det-title {
	font-weight: 600;
	color: #090909;
	font-size: 48px;
	margin-bottom: 20px;
}

.ds-work-det-dep {
	display: block;
	font-weight: 600;
	color: #090909;
	font-size: 18px;
}

.ds-work-content-sec {
	padding: 100px 0;
}

.ds-work-content-sec p {
	font-size: 18px;
	line-height: 36px;
	margin-bottom: 30px;
}

.ds-work-content-sec h2 {
	font-size: 30px;
	font-weight: 700;
	margin-bottom: 30px;
}

.ds-work-content-sec ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.ds-work-content-sec li {
	font-size: 18px;
	line-height: 36px;
	padding-left: 18px;
	position: relative;
	margin-bottom: 20px;
}

.ds-work-content-sec li:before {
	content: "";
	position: absolute;
	left: 0;
	top: 13px;
	border-radius: 100%;
	width: 7px;
	height: 7px;
	background-color: #373737;
}
**/
/*-----------------------------------------------------------------
  7. >>> Footer Style
----------------------------------------------------------------*/

.ds-footer {
	padding: 40px;
	border-top: 1px solid #373737;
	text-align: center;
	background-color: #fbfbfb;
	
}

.ds-footer section span {
	color: rgba(255, 255, 255, 0.5);
	text-transform: uppercase;
	font-weight: 700;
	font-size: 16px;
	letter-spacing: 1px;
	display: block;
	padding-bottom: 20px;
}

.ds-footer section p {
	color: #090909;
	font-size: 29px;
	font-weight: bold;
}

.ds-copyright {
	color: rgba(255, 255, 255, 0.5);
	letter-spacing: 1px;
	font-size: 16px;
}

.ds-copyright a {
	color: rgba(255, 255, 255, 0.5);
}

.ds-copyright a:hover {
	color: #6664f2;
}

.mail {
	color: #FFF;
	font-size: 15px;
	font-weight: 600;
	letter-spacing: 2px;
	color: white;
	background-color: #544f83;
	padding: 15px;
	border: 2px solid #2d2d2d;
	border-radius: 10px;
}

.mail:hover {
	background-color: #4e4882;
	color: #FFF;
	box-shadow: 0px 0px 7px #090909;
}

/*-------------------------------------------------------------------------------
 Responsive XS Style @media (max-width: 767px) 
-------------------------------------------------------------------------------*/

@media (max-width: 768px) {

	.ds-header,
	.ds-header.ds-fixed-header {
		padding: 17px;
	}

	.ds-banner,
	.ds-banner section,
	.ds-about-section,
	.ds-skills-section,
	.ds-experience-section,
	.ds-work-section,
	.ds-work-details-section {
		padding-left: 1px;
		padding-right: 1px;
	}

	.ds-logo {
		font-size: 0;
	}

	figure {
		padding: 16px;
	}

	.ds-banner section {
		padding: 12px;
	}

	.ds-banner section h1 span {
		padding-top: 20px;
		padding-bottom: 8px;
	}

	.ds-banner section h1,
	.ds-work-det-title {
		font-size: 30px;
		line-height: 40px;
	}

	.ds-numbervalulist {
		margin-top: 20px;
	}

	.ds-numbervalulist li {
		margin-right: 30px;
	}

	.ds-numbervalulist strong {
		font-size: 30px;
	}

	.ds-numbervalulist span {
		font-size: 14px;
	}

	.ds-about-section {
		padding-bottom: 20px;
	}


	.ds-about-section p,
	.ds-work-content-sec p,
	.ds-work-content-sec li {
		font-size: 16px;
		font-weight: 500;
		line-height: 30px;

	}

	.ds-skills-list li {
		margin-bottom: 10px;
		font-size: 15px;
	}

	.ds-skills-section .col-12,
	.ds-experience-list .col-12,
	.ds-edu-section .col-12 {
		margin-bottom: 40px;
	}

	.ds-skills-section,
	.ds-work-section,
	.ds-experience-section {
		padding-bottom: 0;
	}


	.ds-work-list {
		padding: 30px;
	}

	.ds-work-list p {
		font-size: 15px;
		line-height: 30px;
	}

	.ds-footer {
		padding: 60px 10px;
	}

	.ds-copyright {
		font-size: 14px;
	}

	.ds-footer section {
		padding-bottom: 30px;
	}

	.ds-button {
		padding: 8px 7px;
	}

	.ds-work-details-section {
		padding-top: 30px;
	}

	.ds-work-det-title {
		margin-bottom: 7px;
	}

	.ds-work-content-sec h2 {
		font-size: 20px;
	}

	.ds-work-content-sec {
		padding: 30px 0;
	}

	.ds-work-list section {
		padding-right: 0;
		padding-bottom: 30px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.ds-work-list section {
		padding-right: 30px;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.ds-banner section {
		padding-right: 0;
	}

	.ds-work-list section {
		padding-right: 30px;
		padding-bottom: 60px;
	}
}